.active {
    color:red;
}

.editing {
    background-color: rgb(164, 255, 247);
}

textarea {
    max-width: 100%;
    resize: none;
    border-radius: 3px;
    vertical-align: text-top;
}

textarea::-webkit-scrollbar {
    width: 0px;
}

textarea#sent_editor_in_panel {
    clear: "both";
    width: 90%;
    margin: 10px;
    height: 5em;
}

#trigger_div {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px;
    z-index: 19999;
}

#trigger_div input {
    float: left;
    text-indent: 0;
    width: auto;
    height: 50px;
    margin: 0px 5px;
    padding: 10px 20px;
    border: 0;
    border-radius: 6px;
    background-color: #0BB;
}